header {
  padding-left: 250px;
  background-color: white;
  height: 55px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s;
  z-index: 1;
}

.user-role {
  font-size: 12px;
}

.user-dropdown {
  cursor: pointer;
}

#menu {
  cursor: pointer;
}
#menu:hover {
  color: gray;
}
